body {
    background: rgb(25, 55, 21);
    color: rgb(209, 255, 204);
    margin: 0%;
    font-family: "Platypi";
    margin-bottom: 50px;
}

header {
    border-bottom: solid 3px rgb(221, 255, 219);
    padding: 20px;
    font-size: 50px;
    color: rgb(221, 255, 219);
}

h1 {
    font-size: 37px;
}

.chamada {
    background: rgb(1, 75, 9);
    padding-bottom: 100px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.categoria {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    border-top: solid 3px rgb(221, 255, 219);
}

h2 {
    font-size: 30px;
}

.categoria h3 {
    color: rgb(125, 255, 164)
}

h3 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

.chamada-texto {
    margin-right: 5%;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria-videos img {
    opacity: 0.7;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: solid 5px rgb(117, 245, 140)
}